*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
    color:white;
}
.navbar{
    height: 62px;
    background-color: #04090b;
    color: white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.nav-logo{
    height: 50px;
    width:125px;
}
.logo{
    background-image:url("image-260nw-229299263111.jpg") ;
    background-size:cover;
    height:45px;
    width: 120px;

}
.border{
    border: 2px solid transparent; /* Set border width and color */

}
.border:hover{
    border:2px solid white;

}

/**box2**/
.add-first{
    color:#cccccc;
    font-size: 0.6ren;
    margin-left:15px;
}
.add-second{
    font-size:1ren;
    margin-left:3px;

}
.add-icon{
    display:flex;
    align-items:center;
}
/**box3**/
.nav-search{
    display:flex;
    background-color: rgb(240, 172, 24);
    width:1090px;
    height:40px;
    border-radius:4px;
}
.search-select{
    border-radius:4px;
    color:rgb(84, 82, 82);
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
}
.search-input{
    width:950px;
    font-size:20px;
}

.search-icon{
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:5ren;
}
.nav-search:hover{
    border:3px solid orange;
}
/**box4**/
span{
    font-size:0.6ren;
}
.nav-second{
    font-size:1ren;
}
/**box6*/
.nav-cart i{
    width:30px;

}
.nav-cart {
    font-size:20px;
    margin-left:3px;
}

/**next line**/
.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.panel-ops p{ 
    display:inline-block;
    margin-left:15px;
}
.panel-ops{
    width:70%;
    font-size:0.85ren;
}
.panel-deals{
    font-size:1ren;
    font-weight:700%

}
/**hero**/
.herosection{
    background-image :url("front1.jpg");
    background-size:cover;
    height:400px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.hero-msg{
    background-color: #222f3d;
    color:black;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.85ren;
    width:70%;
    margin-bottom:15px;

}
.hero-msg a{
    color:#007185;
}
/**shop**/
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:#efe9cb ;
}
.box{
    height:390px;
    border:2px transparent;
    background-color: whitesmoke;
    color:blue;
    width:22%;
    padding: 20px 0px 12px;
    margin: bottom 17px; 
}
.box-img{
    height: 290px;
    background-image:cover;
}
.box-content{
     margin-left: 28px;
     margin-right:15px;
}
.box-img2{
    height: 220px;
}
.red-box{
    color:red;  
}
.footer{
    margin:buttom 15px;
    
}
.foot-panel{
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:0.85ren;

}
.foot-panel1{
    background-color: #222f3d;
    color:white;
    height:300px;
    display:flex;
    justify-content:space-evenly;
}
ul{
    margin-top:20px;
}
ul a {
    display:block;
    font-size:0.85ren;
    margin-top:10px;
    color:#dddddd;

}
.foot-panel3{
    background-color: #222f3d;
    color:white;
   border-top:1px solid white;
   height:70px;
   display:flex;
    justify-content:space-evenly;
  
}
.logo1{
    background-image:url("image-260nw-229299263111.jpg") ;
    background-size:cover;
    height:45px;
    width:120px;
    


}
.foot-panel4{
    background-color: #101b27;
    color:white;
   border-top:1px solid white;
   height:80px;
   
  
}
.pages{
    font-size:0.7ren;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    padding-top: 5 px;
    font-size:0.7ren;
    text-align: center;

}




